/* ----------------------------- ROOM RESERVATIONS ---------------------------- */

#rooms {
  overflow: auto;
}

#rooms #tabbedPanels {
  float: left;
}

#rooms #tabbedPanels #info {
  overflow: auto;
  width: 810px;
}

#rooms #arrow {
  float: left;
}

#rooms #start {
  float: left;
  font-weight: bold;
  padding: 15px 0 0 10px;
  width: 690px;
}

#rooms .slink {
  margin-right: 40px;
}

.reservations-block ul {
  list-style-image: url(images/bullet.gif);
}

.reservations-block #reservations {
  margin-bottom: 5px;
}

#rooms .room-tabs {
  margin: 0 0 0 7px;
  padding: 0;
}

#rooms ul li,
#rooms ul.menu li,
#rooms .item-list ul li,
#rooms li.leaf {
  background: none;
  padding: 0 0.75em 0.2em 0.75em;
}

#rooms .room-tabs li {
  float: left;
  list-style: none;
  margin: 0 0 -3px 0;
  padding: 2px 3px;
}

#rooms .room-tabs li a {
  background: #dddddd;
  border: 1px solid #999999;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  display: block;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
  padding: 3px 5px;
  text-decoration: none;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
}

#rooms .room-tabs li a.active {
  background: #ffffff;
  border-bottom: 1px solid #ffffff;
}

#rooms .panelContainer {
  background-color: #ffffff;
  border: 1px solid #999999;
  clear: left;
  overflow: auto;
  width: 810px;
}

#rooms .panel {
  margin-bottom: 70px;
  padding: 0 10px;
}

#rooms #tabbedPanels .date {
  clear: all;
  margin: 0;
  text-align: center;
}

#rooms #tabbedPanels .hours {
  color: #666666;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

#rooms #date-selectbox {
  margin: 0 0 10px 328px;
}

#rooms .panel .gcolumns .grid-column {
  float: left;
}

#rooms div.grid-column {
  max-width: 97px;
}

#rooms .panel .gcolumns ul {
  padding: 0 1px;
}

#rooms .panel .gcolumns li {
  border: 1px solid #dddddd;
  font-size: 85%;
  height: 1.33em;
  line-height: 15px;
  list-style-type: none;
  margin: -1px auto 0;
  padding: 2px 0;
  text-align: center;
}

#rooms .panel .gcolumns li.odd {
  border-top: 1px solid #999999;
}

#rooms .panel .gcolumns li.room-info {
  border: none;
}

#rooms .panel .gcolumns li.room-info-heading {
  padding-bottom: 5px;
}

#rooms .panel .gcolumns li.room-info-footer {
  padding-top: 5px;
}

#rooms .panel .gcolumns .hours-column li {
  width: 70px;
}

#rooms .panel .gcolumns .room-column li {
  width: 93px;
}

#rooms .panel .gcolumns li.timeslot {
  background-color: #ffffff;
  *height: 1.33em;
  *margin-bottom: 2px;
}

#rooms .panel .gcolumns li.reservable {
  background-color: #ffffff;
}

#rooms .panel .gcolumns li.open {
  background-color: #ffffff;
}

#rooms .panel .gcolumns li.booked {
  background-color: #dddddd;
}

#rooms .panel .gcolumns li.closed {
  background-color: #d1dfdf;
  border: 1px solid #d1dfdf;
}

#rooms .hide {
  display: none;
}

.page-room-reservations .form-item label {
  display: inline;
}

#txtmsg-fields {
  display: none;
}
